<!DOCTYPE html>
<html>
	<body>
		<table>
		<% cards.forEach(function(card) { %>
			<tr>
				<td><img src="<%= card.ds_filename %>" /></td>
				<td><%= card.ds_filename %></td>
				<td><%= card.ds_rarity %></td>
				<td><%= card.ds_multiplier %></td>
			</tr>
		<% }); %>
		</table>
	</body>
</html>
